http_interactions:
- request:
    method: GET
    uri: https://www.freshwaterecology.info/fweapi2/v1/getecoparamlist
  response:
    status: 200
    headers:
      content-type: application/json
    body:
      string: '{"$schema":"http:\/\/json-schema.org\/schema#","title":"FWE-API-V2","description":"freshwaterecology.info
        version 8.0","citationRemarks":"Whenever you use any information from this
        website please cite the following paper. Additionally, the use of ecological
        information of individual taxonomic groups and individual ecological parameters
        must always be cited as mentioned in the according reference section.","citation":"Schmidt-Kloiber,
        A. & Hering D. (2015): www.freshwaterecology.info - an online tool that unifies,
        standardises and codifies more than 20,000 European freshwater organisms and
        their ecological preferences. Ecological Indicators. https:\/\/doi.org\/10.1016\/j.ecolind.2015.02.007","apiversion":"0.0.5","status":"Success","error":[],"responseDescription":"List
        of available ecological parameters for each organism group. Use this code
        or name of the ecological parameters to query the values.","ecologicalParameterList":{"fi":[{"name":"catchment
        region","description":"The parameter provides information on the distribution
        of species in different European catchment regions and additionally indicates
        if the species is native (n) or alien (a) to the region.","citation":"","typeOfAssignment":"presence\/absence
        assignment system","additionalAssignmentInfo":"including native\/alien information","additionalInfo":"","code":59,"availableFor":"Acipenseriformes,
        Anguilliformes, Atheriniformes, Clupeiformes, Cypriniformes, Cyprinodontiformes,
        Esociformes, Gadiformes, Gasterosteiformes, Perciformes, Petromyzontiformes,
        Pleuronectiformes, Salmoniformes, Scorpaeniformes, Siluriformes, Syngnathiformes","categoryList":[{"categoryName":"Aegean
        Sea","categoryAbbr":"AeSe","categoryExplanation":"Aegean Sea"},{"categoryName":"Anglian
        Coast","categoryAbbr":"AnCo","categoryExplanation":"Anglian Coast"},{"categoryName":"Baltic
        Sea","categoryAbbr":"BaSe","categoryExplanation":"Baltic Sea"},{"categoryName":"Black
        Sea","categoryAbbr":"BlSe","categoryExplanation":"Black Sea"},{"categoryName":"Bristol
        Channel","categoryAbbr":"BrCh","categoryExplanation":"Bristol Channel"},{"categoryName":"Danube","categoryAbbr":"Danu","categoryExplanation":"Danube"},{"categoryNam[...]
